<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eShop Pokémon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <!-- Navbar -->
  <nav class="navbar has-shadow" role="navigation">

    <div class="navbar-brand">
      <a class="navbar-item">PokeShop</a>
    </div>

    <!-- Navbar menu -->
    <div class="navbar-menu">

      <!-- Navbar start - meaning that this will be at the beginning -->
      <div class="navbar-start">

        <div class="navbar-item">
          <div class="field">
            <p class="control">
              <a href="index.html" class="button">
                <span class="icon">
                  <ion-icon name="albums-outline"></ion-icon>
                </span>
                <span>Browse</span>
              </a>
            </p>
          </div>
        </div>

      </div>

      <!-- Things at the end of the navbar -->
      <div class="navbar-end">

        <div class="navbar-item">
          <div class="field">
            <p class="control">
              <a href="cart.html" class="button">
                <span class="icon">
                  <ion-icon name="cart-outline"></ion-icon>
                </span>
                <span>My cart</span>
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>
  </nav>

    
  <section class="section">
    <div class="container">
        <h1 class="title">Browse</h1>
        <div class="columns">

          <!-- First item -->
          <div class="column">
            <div class="card">
  
              <header class="card-header">
                <p class="card-header-title">Charizard Ultra Premium Collection</p>
              </header>
  
              <div class="card-image">
                <figure class="image is-square">
                  <img src="../../design/eshop/pic1.jpg" alt="Picture 1"/>
                </figure>
              </div>
  
              <footer class="card-footer">
                <a href="cart.html" class="card-footer-item">Buy</a>
              </footer>
  
            </div>
          </div>
  
          <!-- Second item -->
          <div class="column">
            <div class="card">
  
              <header class="card-header">
                <p class="card-header-title">Booster Box Evolving Skies</p>
              </header>
  
              <div class="card-image">
                <figure class="image is-square">
                  <img src="../../design/eshop/pic2.jpg" alt="Picture 2"/>
                </figure>
              </div>
  
              <footer class="card-footer">
                <a href="cart.html" class="card-footer-item">Buy</a>
              </footer>
  
            </div>
          </div>
  
          <!-- Third item -->
          <div class="column">
            <div class="card">
  
              <header class="card-header">
                <p class="card-header-title">Shining Fates Booster</p>
              </header>
  
              <div class="card-image">
                <figure class="image is-square">
                  <img src="../../design/eshop/pic3.jpg" alt="Picture 3"/>
                </figure>
              </div>
  
              <footer class="card-footer">
                <a href="cart.html" class="card-footer-item">Buy</a>
              </footer>
  
            </div>
          </div>
  
          <!-- Fourth item -->
          <div class="column">
            <div class="card">
  
              <header class="card-header">
                <p class="card-header-title">Pokemon Go Pokeball Tin</p>
              </header>
  
              <div class="card-image">
                <figure class="image is-square">
                  <img src="../../design/eshop/pic4.jpg" alt="Picture 4"/>
                </figure>
              </div>
  
              <footer class="card-footer">
                <a href="cart.html" class="card-footer-item">Buy</a>
              </footer>
  
            </div>
          </div>
  
        </div>

        <!-- Second row -->

        <div class="columns">
          <!-- If there ever is a need to add a second row here it is lol -->
        </div>

    </div>
  </section>

  <!-- Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>