<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eShop Pokémon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <!-- Navbar -->
  <nav class="navbar has-shadow" role="navigation">

    <div class="navbar-brand">
      <a class="navbar-item">PokeShop</a>
    </div>

    <!-- Navbar menu -->
    <div class="navbar-menu">

      <!-- Navbar start - meaning that this will be at the beginning -->
      <div class="navbar-start">

        <div class="navbar-item">
          <div class="field">
            <p class="control">
              <a href="/poc/eshop" class="button">
                <span class="icon">
                  <ion-icon name="albums-outline"></ion-icon>
                </span>
                <span>Browse</span>
              </a>
            </p>
          </div>
        </div>

      </div>

      <!-- Things at the end of the navbar -->
      <div class="navbar-end">

        <div class="navbar-item">
          <div class="field">
            <p class="control">
              <a href="/poc/eshop/cart" class="button">
                <span class="icon">
                  <ion-icon name="cart-outline"></ion-icon>
                </span>
                <span>My cart</span>
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>
  </nav>

  <main class="p-5">
    <div class="container">
      <section class="hero pb-6">
        <h1 class="title">Thank you for ordering!</h1>
        <p class="subtitle">Your order will get to you soon!</p>
      </section>
    </div>
  </main>

  <!-- Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>